@font-face {
    font-family: kabel;
    src: url(../fonts/Kabel-Regular.ttf);
}
@font-face {
    font-family: kabelBold;
    src: url(../fonts/Kabel-Bold.ttf);
}
/*------*/
/*HEADER*/
/*------*/
nav{
	background-color: #668d6d;
}
nav div.nav-wrapper a.brand-logo{
    font-family: kabelBold;
    margin-left: 15px;
    color: #bbdfc3;
}
nav div ul.mobile-nav{
	position: fixed;
	text-align: right;
	background-color: #FFF;
	width: 200px;
	right: -500px;
	border: 1px solid #DDD;
	height: 100%;
	height: calc(100% + 60px);
	z-index: 999;
	overflow: none;
}
nav div ul.mobile-nav li{
	float: none;
}
nav div ul.mobile-nav li a{
	color: #000;
	padding: 0 25px;
}
nav div ul li a{
	color: #DDD;
}
nav div ul li a.active{
	height: 64px;
	color: #FFF;
	background-color: rgba(0,0,0,0.1);
}
nav div ul li a.active:hover{
	background-color: rgba(0,0,0,0.1);
}

/*----*/
/*BODY*/
/*----*/
body{
	background-image: url("../images/background.jpg");
    font-family: kabel;
    color: #668d6d;
}
h1{
    font-family: kabelBold;
	font-size: 40px;
	margin: 0;
    margin-bottom: 5px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 16px;
}
div.container{
	width: 95%;
	margin: 2.5% auto;
	padding: 3%;
	background-color: rgba(187, 223, 195, 0.9);
}

p{
    line-height: 1.2em;
}

div.container ul{
    padding-left: 5px;
}

div.container ul li:before{
    margin-right: 10px;
    content: '-';
}

div.God{
    display: flex;
}

div.God div{
	width: 50%;
}

div.God img{
	width: 50%;
    height: 50%;
}

div.MarcoIsLife{
    width: 100%;
    display: flex;
}

div.God div.realypwetty{
    width: 48%;
    margin-left: 2%;
}

div.God div.realypwetty h2{
    margin-top: 0;
}

table.sexyMarco{
    width: 85%;
}

div.MarcoIsLife div.MarcoIsLove{
    width: 15%;
    text-align: right;
}
div.Input {
    margin-top: 20px;
    width: 30%;
    float: left;
}

div.Input + div.Input{
    margin-left: 3%;
}

div.Input div.InputVeld{
    display: flex;
    flex-direction: column;
}
div.Input div.InputVeld + div.InputVeld{
    margin-top: 10px;
}

div.Input div.InputVeld label{
    font-size: 18px;
}

form.clearfix div.Input:nth-child(2) label{
    font-size: 10px;
}

form.clearfix div.clearfix{
    width: 100%;
}

form.clearfix div + div{
    margin-top: 25px;
}

form + form{
    margin-top: 10px;
}

tr td{
    padding: 0;
}

tr + tr td{
    padding-top: 5px;
}

input[type="submit"]{
    background-color: #668d6d;
    color: #bbdfc3;
    width: 120px;
    border-radius: 5px;
    border: 0;
    padding: 4px 15px;
}

select{
    display: block;
    height: auto;
}

/*----------*/
/*IMPORTANTS*/
/*----------*/
/*Because materializedcss uses important too*/
button.btn:focus{
	background-color: #446D2D !important;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="date"]:focus,textarea:focus{
	border-bottom-color: #64A043 !important;
	box-shadow: 0 1px 0 0 #64A043 !important;
}
input[type="text"]:focus + label, input[type="email"]:focus + label, input[type="date"]:focus + label, textarea:focus + label{
	color: #64A043 !important;
}
input[type="checkbox"]:checked + label:before{
	border-top: 2px solid transparent !important;
	border-left: 2px solid transparent !important;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
.invalid{
	font-size: 0.8rem;
	border-bottom-color: red !important;
	box-shadow: 0 1px 0 0 red !important;
}
/*-------*/
/*CLASSES*/
/*-------*/
.clearfix:before, .clearfix:after{ content: " "; display: table; }
.clearfix:after{ clear: both; }


.hidden{ display: none; }
.warning{ font-size: 11px; color: red; }
.container .row{
  margin: 0;
  margin-bottom: 20px;
}

/*------------*/
/*MEDIA QUERYS*/
/*------------*/
@media screen and (max-width: 600px)
{
	nav img.logo{ height: 58px; }
}
/* #######################################################

HOW TO CREATE AN INTERACTIVE GRAPH USING CSS3 & JQUERY [TUTORIAL]

"How to create an Interactive Graph using CSS3 & jQuery [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net
http://designmodo.com
http://vladimirkudinov.com

######################################################## */

/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
	margin: 0;
	padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*  Graph Container */
.graph-container {
	position: relative;
	width: 550px;
	height: 300px;
	padding: 20px;
	
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.graph-container > div {
	position: absolute;
	width: inherit;
	height: inherit;
	top: 10px;
	left: 25px;
}

.graph-info {
	width: 590px;
	margin-bottom: 10px;
}

/* Text Styles */
#tooltip, .graph-info a {
	height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #646464;
}

.tickLabel {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Tooltip */
#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	border: 1px solid #e1e1e1;
}

/* Links */
.graph-info a {
	position: relative;
	display: inline-block;
	float: left;
	padding: 7px 10px 5px 30px;
	margin-right: 10px;
	text-decoration: none;
	cursor: default;
}

/* Color Circle for Links */
.graph-info a:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	top: 13px;
	left: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Colors For each Link */
.graph-info .visitors { border-bottom: 2px solid #71c73e; }
.graph-info .returning { border-bottom: 2px solid #77b7c5; }

.graph-info .visitors:before{ background: #71c73e; }
.graph-info .returning:before{ background: #77b7c5; }

/* Lines & Bars Buttons */
#lines, #bars {
	width: 34px;
	height: 32px;
	padding: 0;
	margin-right: 0;
	margin-left: 10px;
	border-bottom: 2px solid #71c73e;
	float: right;
	cursor: pointer;
}

#lines.active, #bars.active {
	background: #82d344;
	background: -moz-linear-gradient(top,  #82d344 0%, #71c73e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
	background: -webkit-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: -o-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: -ms-linear-gradient(top,  #82d344 0%,#71c73e 100%);
	background: linear-gradient(to bottom,  #82d344 0%,#71c73e 100%);
}

#lines span, #bars span {
	display: block;
	width: 34px;
	height: 32px;
	background: url('../img/lines.png') no-repeat 9px 12px;
}

#bars span { background: url('../img/bars.png') no-repeat center 10px; }

#lines.active span { background-image: url('../img/lines_active.png'); }
#bars.active span { background-image: url('../img/bars_active.png'); }

/* Hide the First and Last Y Label */
.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
	content: '';
	display: block;
	clear: both;
}