{% extends "template.html" %}

{% block title %}
    Monopoly
{% endblock %}
{% block content %}
    <h1>Geschiedenis</h1>
    <div class="parent">
        <table class="geschiedenis">
            <tr>
                <th>Naam</th>
                <th>Pion</th>
                <th>Huidig saldo</th>
            </tr>
            <tr>
                <td>{{ spelersName }}</td>
                <td>{{ spelersPion }}</td>
                <td>{{ spelersSaldo }}</td>
            </tr>
{#            <tr>#}
{#                <td>Naam</td>#}
{#                <td>Pion</td>#}
{#                <td>€0</td>#}
{#                <td>€555555</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Naam</td>#}
{#                <td>Pion</td>#}
{#                <td>€0</td>#}
{#                <td>€555555</td>#}
{#            </tr>#}
        </table>
        <div class="submits">
            {{ macro.submit("geschiedenis","action","Stop") }}
            {{ macro.submit("geschiedenis","action","Opslaan") }}
            {{ macro.submit("nieuwspel","action","Nieuw Spel") }}
        </div>
    </div>
{% endblock %}