{% extends "template.html" %}

{% block title %}
    Monopoly
{% endblock %}
{% block content %}
    <h1>Geschiedenis</h1>
    <div class="parent">
        <table class="geschiedenis">
            <tr>
                <th>Naam</th>
                <th>Pion</th>
                <th>Huidig saldo</th>
            </tr>
            <tr>
                <td>{{ spelersName[0] }}</td>
                <td>{{ spelersPion[0] }}</td>
                <td>{{ spelersSaldo[0] }}</td>
            </tr>
            <tr>
                <td>{{ spelersName[1] }}</td>
                <td>{{ spelersPion[1] }}</td>
                <td>{{ spelersSaldo[1] }}</td>
            </tr>
            <tr>
                <td>{{ spelersName[2] }}</td>
                <td>{{ spelersPion[2] }}</td>
                <td>{{ spelersSaldo[2] }}</td>
            </tr>
            <tr>
                <td>{{ spelersName[3] }}</td>
                <td>{{ spelersPion[3] }}</td>
                <td>{{ spelersSaldo[3] }}</td>
            </tr>
        </table>
        <div class="submits">
            {{ macro.submit("geschiedenis","action","Stop") }}
            {{ macro.submit("geschiedenis","action","Opslaan") }}
            {{ macro.submit("nieuwspel","action","Nieuw Spel") }}
        </div>
    </div>
{% endblock %}